.contLeft {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 220px;
	overflow: auto;
	border-right: 1px solid #e4e4e4;
}
.contLeft .search {
	width: 200px;
	height: 38px;
	margin: 7px auto;
}
.contLeft .search input {
	float: left;
    width: 160px;
    height: 38px;
    line-height: 36px;
    outline: none;
    border: 1px solid #dcdee7;
}
.contLeft .search span {
	float: left;
    width: 40px;
    height: 38px;
    border: 1px solid #dcdee7;
    border-left-width: 0;
    cursor: pointer;
	background: url(img/icon/icon-search.png) no-repeat center;
}
.contRight {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	overflow-x: auto;
}
.contRight .contBox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -200px;
	display: table;
	width: 400px;
}
.contRight .contBox dl {
	display: table-row;
}
.contRight .contBox dt {
	display: table-cell;
	padding: 5px;
}
.contRight .contBox input {
	padding: 0 4px;
	height: 35px;
	line-height: 33px;
	border: 1px solid #dcdee7;
}
.textRight {
	text-align: right;
}
.resetPassword {
	cursor: pointer;
	color: #5c89fe;
}
#resetPasswordBox {
	display: none;
	position: relative;
	height: 100%;
}
#resetPasswordBox .info {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -9px;
	margin-left: -90px;
	font-size: 18px;
}
#resetPasswordBox .btnBox {
	position: absolute;
	right: 32px;
	bottom: 22px;
	height: 35px;
}
#resetPasswordBox .btnBox span {
	float: right;
	margin-left: 20px;
	width: 90px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #6897f7;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
