.clear{
	clear: both;
}
.jobinfo-head {
	width: 100%;
	height: 25px;
	background: url(../img/personalInfo/baseinfo-title-bg.png) no-repeat left center;
}

.edit {
	float: right;
	width: 30px;
	height: 100%;
	background: url(../img/personalInfo/edit.png) no-repeat center;
}

.baseinfo-left {
	float: left;
	width: 20%;
	height: 100%;
	background: url(../img/personalInfo/pic.png) no-repeat 60% center;
}

.baseinfo-right {
	float: right;
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.baseinfo-right li {
	float: left;
	height: 30px;
	width: 50%;
}

.baseinfo-right li span, .jobinfo-main li span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
}

.info-title {
	width: 100px;
	text-align: right;
}

.info-main {
	margin-left: 10px;
}

.maxwidth {
	width: 100% !important;
}

.jobinfo-main {
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	background: #EDF1F4;
	margin: 10px 0;
}
.jobinfo-main li{
	float: left;
	width: 33%;
	height:30px;
}

.positioninfo-main ,.educationinfo-main{
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	background: #EDF1F4;
	margin: 10px 0;
}
.positioninfo-main li,.educationinfo-main li{
	margin-left: 67px;
	height: 40px;
}
.positioninfo-main li span,.educationinfo-main li span{
	display: inline-block;
	height: 40px;;
	line-height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
}
.duty{
	margin-left: 20px;
	color: #6497F5 !important;
}
