.tab1{
	border-bottom: 1px solid #DEDEDE;
	position: absolute;
	width: 100%;
}
.tab1 a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 80px;
	border-bottom: 2px solid transparent;
}
.tab1 a.active{
	border-bottom: 2px solid #298CD8;
	color: #298cd8;
	font-weight: bold;
}
.tabContents{
	position: absolute;
	width: 100%;
	top: 53px;
	bottom: 0px;
	box-sizing: border-box;
	/*overflow: auto;*/
}
.tabContents > div{
	display: none;
	height: 100%;
}
.tabContents .show{
	display: block;
	box-sizing: border-box;
}
.tab2{
	padding-top: 10px;
}
.tab2 a{
	display: block;
    padding: 30px 15px;
    width: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: #E9F3FA url(../img/icon/icon-tab2.png) 16px 26px no-repeat;
    padding-top: 50px;
}
.tab2 a.active{
	background-color: #FFFFFF;
}
.tab2C{
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 60px;
    right: 0px;
}