<!-- 责任追究 -->
<link rel="stylesheet" type="text/css" href="css/zrzj.css" />
<div class="deal-case">
	<div class="search-area">
		<div>
			<label>处理时间: </label><input type="text" name="" id="" value="" />
		<label class="short">至</label><input type="text" name="" id="" value="" />
		<label>承担责任种类: </label><input type="text" name="" id="" value="" />
		</div>
		
		<a class="btn-search">查询</a>
	</div>
	<div>
		<h2>责任追究情况</h2>
		<p>2017年年1月至2017年10月共受到处理4次</p>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>序号</th>
						<th>承担责任种类</th>
						<th>处理部门或作出司法裁判、行政处罚决定的单位</th>
						<th>处理时间</th>
						<th>处理事由</th>
						<th>处理的主要内容</th>
						<th>处理结果的执行落实情况</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="state1"></td>
						</td>
					</tr>
					<tr>
						<td>1</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a class="link">可查看附件</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<script type="text/javascript">
	$(function() {
		simulateInit();
	});
</script>