<!-- 荣誉奖励 -->
<link rel="stylesheet" type="text/css" href="css/ryjl.css" />
<div class="deal-case">
	<a class="edit"></a>
	<div class="search-area">
		<div>
			<label>获奖时间: </label><input type="text" name="" id="" value="" />
		<label class="short">至</label><input type="text" name="" id="" value="" />
		<label>荣誉或奖励名称: </label><input type="text" name="" id="" value="" />
		</div>
		
		<div>
			<label>状态: </label>
		<select name="">
			<option value="">全部</option>
			<option value="">编辑中</option>
			<option value="">正在审批</option>
			<option value="">审批通过</option>
		</select>
		<label>操作人: </label><input type="text" name="" id="" value="" />
		</div>
		
		<a class="btn-search">查询</a>
	</div>
	<div>
		<h2>荣誉奖励情况</h2>
		<p>2017年年1月至2017年10月共获得荣誉奖励4次</p>
		<div class="table">
			<table>
				<thead>
					<tr>
						<th>序号</th>
						<th>荣誉或奖励名称</th>
						<th>获奖时间</th>
						<th>获奖事由</th>
						<th>颁奖单位</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="state1"></td>
						</td>
					</tr>
					<tr>
						<td>1</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a class="link">可查看附件</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<script type="text/javascript">
	$(function() {
		simulateInit();
	});
</script>