<link rel="stylesheet" type="text/css" href="css/header.css">
<div class="header">
	<div class="header-logo"></div>
	<div class="header-right">
		<div class="right-top">
			<span>退出</span>
			<span>修改密码</span>
			<span>您好，王某某</span>
			<span>数据统计截止：2017年09月05日</span>
		</div>
		<ul id="headerNav" class="right-tab">
			<li id="xtgl" class="tab-item">系统管理</li>
			<li id="nmly" class="tab-item">匿名留言</li>
			<li id="wdrw" class="tab-item">我的任务</li>
			<li id="dazx" class="tab-item">档案中心</li>
			<li id="grxx" class="tab-item active">个人信息</li>
		</ul>
		<div></div>
	</div>
</div>
<script type="text/javascript" src="js/header.js"></script>