<link rel="stylesheet" type="text/css" href="css/personalInfoedit.css">
<div class="wrap">
	<div class="baseinfo">
		<div class="baseinfo-head">
			<span class="baseinfo-title">个人基本信息</span>
		</div>
		<div class="baseinfo-main">
			<div class="baseinfo-left">
				<img src="img/personalInfo/pic.png" />
				<button class="upload">上传照片</button>
			</div>
			<div class="baseinfo-right">
				<ul class="common-formInfo">
					<li>
						<span class="info-title">
									姓名:
								</span>
						<input type="" name="" id="" value="" class="edit-main" />
					</li>
					<li>
						<span class="info-title">
									民族:
								</span>
						<select name="" class="edit-main">
							<option value="">汉族</option>
							<option value="">满族</option>
						</select>
					</li>
					<li>
						<span class="info-title">
									性别:
								</span>
						<select name="" class="edit-main">
							<option value="">男</option>
							<option value="">女</option>
						</select>
					</li>
					<li>
						<span class="info-title">
									政治面貌:
								</span>
						<select name="" class="edit-main">
							<option value="">党员</option>
							<option value="">群众</option>
						</select>
					</li>
					<li>
						<span class="info-title">
									出生年月:
								</span>
						<input class="laydate-icon edit-main" id="demo" value="2014-6-25">
					</li>
					<li>
						<span class="info-title">
									联系方式:
								</span>
						<input type="" name="" id="" value="" class="edit-main" />
					</li>
					<li class="maxwidth">
						<span class="info-title">
									学历:
								</span>
						<select name="" class="edit-main">
							<option value="">本科</option>
							<option value="">硕士</option>
						</select>
					</li>
					<li>
						<!--<span class="info-title">
									联系方式:
								</span>
								<input type="" name="" id="" value=""  class="edit-main"/>-->
					</li>
					<li class="maxwidth">
						<span class="info-title">
									学位:
								</span>
						<select name="" class="edit-main">
							<option value="">学士学位</option>
							<option value="">硕士学位</option>
						</select>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="jobinfo">
		<div class="jobinfo-head">
			<span class="baseinfo-title">职务基本信息</span>
		</div>
		<div class="jobinfo-main">
			<ul>
				<li>
					<span class="info-title">部门:</span>
					<select name="" class="edit-main">
						<option value="">汉族</option>
						<option value="">满族</option>
					</select>
				</li>
				<li>
					<span class="info-title">部门:</span>
					<select name="" class="edit-main">
						<option value="">汉族</option>
						<option value="">满族</option>
					</select>
				</li>
				<li>
					<span class="info-title">身份:</span>
					<select name="" class="edit-main">
						<option value="">汉族</option>
						<option value="">满族</option>
					</select>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="positioninfo">
		<div class="baseinfo-head">
			<span class="baseinfo-title">岗位信息</span>
			<span class="add-info">添加</span>
		</div>
		<div class="positioninfo-main">
			<ul>
				<li>
					<div class="maxwidth">
						<span class="info-title">
								时间:
							</span>
						<input class="laydate-icon edit-main" id="demo" value="2014-6-25">
					</div>
					<div class="maxwidth">
						<span class="info-title">
								单位:
							</span>
						<select name="" class="edit-main">
							<option value="">最高人民法院</option>
							<option value="">中级人民法院</option>
						</select>
					</div>
					<div class="maxwidth">
						<span class="info-title">
								部门:
							</span>
						<select name="" class="edit-main">
							<option value="">公诉一处</option>
						</select>
					</div>
					<div class="maxwidth">
						<span class="info-title">
								职务:
							</span>
						<select name="" class="edit-main">
							<option value="">厅长</option>
						</select>
					</div>
					<div class="delete-info">

					</div>
				</li>
				<li>
					<div class="maxwidth">
						<span class="info-title">
								时间:
							</span>
						<input class="laydate-icon edit-main" id="demo" value="2014-6-25">
					</div>
					<div class="maxwidth">
						<span class="info-title">
								单位:
							</span>
						<select name="" class="edit-main">
							<option value="">最高人民法院</option>
							<option value="">中级人民法院</option>
						</select>
					</div>
					<div class="maxwidth">
						<span class="info-title">
								部门:
							</span>
						<select name="" class="edit-main">
							<option value="">公诉一处</option>
						</select>
					</div>
					<div class="maxwidth">
						<span class="info-title">
								职务:
							</span>
						<select name="" class="edit-main">
							<option value="">厅长</option>
						</select>
					</div>
					<div class="delete-info">

					</div>
				</li>

			</ul>
		</div>
	</div>
	<div class="educationinfo">
		<div class="baseinfo-head">
			<span class="baseinfo-title">学历信息</span>
		</div>
		<div class="educationinfo-main">
			<ul>
				<li>
					<span class="educationinfo-content">
								2001年1月至2004年5月  浙江大学 、本科学历、环境与土木工程专业   获学士学位
							</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<div class="btn">
			<button class="btn-blue save" id="save">暂存</button>
			<button class="btn-blue submit" id="submit">提交审批</button>
			<button class="btn-blue cancel" id="cancel">取消</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	addJS([js.personalInfoedit]);
</script>